@import '~antd/dist/antd.css';

Dropdown.user {
  clear: right;
}

div.left {
  float: left;
  width: 8%; /* three boxes (use 25% for four, and 50% for two, etc) */
}

div.right {
  float: right;
  width: 5%;
  position: absolute;
  right: 0px;
}
