{
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
       "no-set-state": "off",
       "no-console": "off",
       "strict": 0
    },
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
  }